@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&family=Montserrat:wght@400;500&family=Roboto:wght@400;500;900&display=swap');

:root {
  --primary: 139, 140, 145;
  --secundary: #68574d;
  --letters: #e2e8e8;
  --alpha: 0.5;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-image: url(../src/Assets/img/banner3.jpg);
  background-size: cover;
}